.course-container {
	width: 100%;
}

.course-overview {
	width: 100%;
	padding: 1rem;
	display: flex;
	background-color: var(--level-three);
	flex-direction: column;
	justify-items: flex-start;
	align-items: flex-start;
	transition: all .05s ease-in;
	margin-top: 1rem;

	&:hover {
		cursor: pointer;
		transform: scale(1.0125);
	}
}

.course-modal-dialog {
	position: relative;
}

.course-modal-content {
	position: absolute;
	width: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.course-title {
	font-size: var(--body);
	color: var(--high-visibility);
}

.course-description {
	font-size: var(--body);
	color: var(--medium-visibility);
}

.course-modal-image {
	width: 80rem;
	max-width: 85vw;
}

// .image-modal-background {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	background: black;
// 	opacity: 50%;
// 	z-index: 3;

// 	&:hover{
// 		cursor: default;
// 		transform: none;
// 	}
	
// }

// .image-modal-container {

// 	position: fixed;
// 	top: 50%;
// 	left: 50%;
// 	//transform: translate(-50%, -50%);
// 	z-index: 3;
// 	padding: 0;
// 	width: 60vw;
// 	min-width: 40rem;
// 	max-width: 80vw;
// 	height: auto;

// 	&:hover {
// 		cursor: default;
// 		transform: none;
// 	}
// }