.school-overview-container {
	width: 100%;
	height: fit-content;
	// margin:1rem;
	padding: 1rem 2rem;
	background-color: var(--level-one);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	align-items: center;
}

.school-name {
	width: 100%;
	color: var(--high-visibility);
	font-size: var(--h5);
	text-align: center;
	padding-top: .25rem;
	padding-bottom: 1rem;
}

.school-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
}

.labeled-field {
	height: fit-content;
	min-height: 5rem;
	min-width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// padding: .5rem 1rem;
	font-size: var(--subtitle);
}

.label {
	color: var(--medium-visibility);
}

.field-value {
	color: var(--high-visibility);
}