/* The ration for width to heigh is width = 150 screen width, height = calculated width / 1.7777777777 */
// $duration: 26.5s;
$duration: 2.65s;
$starting-title-width: 4000vh;
$starting-title-height: 800vh;
$final-title-width: 95vh;
$final-title-height: 16.5vh;
$final-font-size: 20vh;
$final-large-font-size: 25vh;
$starting-title-margin: 5vh;
$final-title-margin: 5px;
$solid-line-height: 1.5vh;
$solid-line-width: 87.5%;
$comma-offset: 3.5vh;
$line-border: .35vh solid red;
$transition-properties: all $duration;
$margin-offset: calc(2 * $starting-title-margin);

.intro-container {
	width: fit-content;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "BenguiatProITC-BoldCondensed";
	overflow: hidden;
	color: black;
	-webkit-text-fill-color: none; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: red;
}

.starting-title {
	position: relative;
	margin-bottom: $starting-title-margin;
	outline-color: green;
	outline-width: 4px;
	width: $starting-title-width;
	height: $starting-title-height;
	flex: 0 0 auto;  /* The width and height are inflexible */
	justify-content: center;
	align-content: flex-start;
	font-size: $starting-title-height;
	line-height: $starting-title-height;
	top: -950vh;
	-webkit-transition: $transition-properties;
	-moz-transition: $transition-properties;
	-o-transition: $transition-properties;
	-ms-transition: $transition-properties;
	transition: $transition-properties;
}

.final-title {
	margin-bottom: $final-title-margin;
	width: $final-title-width;
	height: $final-title-height;
	font-size: $final-font-size;
	line-height: $final-title-height;
	offset-position: 0 0;
	top: 20vh;
}

.first-name {
	@extend .starting-title;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-items: center;
}

.last-name {
	@extend .starting-title;
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	justify-items: center;
	left: $comma-offset;
}

// Line styling ----------------------------------------
.final-large-line {
	top: 24.5vh;
	left: 0;
}

.final-small-line {
	margin-top: 1.75vh;
}

.large-line {
	@extend .starting-title;
	height: $solid-line-height;
	width: $solid-line-width;
	border: $line-border;
	border-radius: 5px;
	left: 0;
}

.small-line {
	height: $solid-line-height;
	width: 12vh;
	border: $line-border;
	margin-top: 60vh;
	transition: margin-top $duration;
}

// Letter level control  -------------------------------
.letter {
	margin: 0px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 25%;
	transition: padding $duration, margin $duration;
}

.final-large-letter {
	padding: 0;
	font-size: $final-large-font-size;
	line-height: 18vh;
	display: table-cell;
	vertical-align: top;
}

.final-letter {
	padding: 0;
}

.james-j {
	@extend .letter;
}
.james-a {
	@extend .letter;
}
.james-m {
	@extend .letter;
}
.james-e {
	@extend .letter;
}
.james-s {
	@extend .letter;
}

.sterling-s {
	@extend .letter;
}
.sterling-t {
	@extend .letter;
}
.sterling-e {
	@extend .letter;
}
.sterling-r {
	@extend .letter;
}
.sterling-l {
	@extend .letter;
}
.sterling-i {
	@extend .letter;
}
.sterling-n {
	@extend .letter;
}
.sterling-g {
	@extend .letter;
}
.sterling-comma {
	@extend .letter;
}