$starting-first-name-width: 4000vh;
$starting-last-name-width: 8000vh;
$starting-title-height: 600vh;
$starting-title-margin: 5vh;
$final-title-width: 95vh;
$final-title-height: 16.5vh;
$final-font-size: 20vh;
$final-large-font-size: 25vh;
$final-title-margin: 5px;
$solid-line-height: 1.5vh;
$solid-line-width: 90vh;
$comma-offset: 3.5vh;
$line-border: .35vh solid red;
$duration: 26.5s;
$half-duration: 13.25s;
$transition-model: cubic-bezier(.12,.1,0,.99);
$transition-properties: all $duration $transition-model;
$delayed-transition-properties: all 13.5s $transition-model 13s;
$half-duration-transition: padding $half-duration $transition-model, margin $half-duration $transition-model;
$margin-offset: calc(2 * $starting-title-margin);

$large-offset: 2000vh;
$negative-large-offset: -2000vh;
$medium-offset: 1000vh;
$negative-medium-offset: -1000vh;
$small-offset: 500vh;
$negative-small-offset: -500vh;

#strangerAudio {
	display: static;
}

#audioToggleButton {
	z-index: 2;
	background: url('../res/volume-full.svg');
	background-size: 100%;
	position: fixed;
	width: 3rem;
	height: 3rem;
	top: 2rem;
	left: 2rem;
	cursor: pointer;
	border: none;
	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

#audioToggleButton.muted {
	background: url('../res/volume-x.svg');
	background-size: 100%;
}

.intro-container {
	left: $comma-offset;
	width: fit-content;
	padding-right: $comma-offset;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "BenguiatProITC-BoldCondensed";
	overflow: hidden;
	color: black;
	-webkit-text-fill-color: none; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: red;
}

.transition {
	-webkit-transition: $transition-properties;
	-moz-transition: $transition-properties;
	-o-transition: $transition-properties;
	-ms-transition: $transition-properties;
	transition: $transition-properties;
}

.delayed-transition {
	-webkit-transition: $delayed-transition-properties;
	-moz-transition: $delayed-transition-properties;
	-o-transition: $delayed-transition-properties;
	-ms-transition: $delayed-transition-properties;
	transition: $delayed-transition-properties;
}

.starting-title {
	position: relative;
	margin-bottom: $starting-title-margin;
	outline-width: 4px;
	height: $starting-title-height;
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;  /* The width and height are inflexible */
	justify-content: center;
	justify-items: center;
	align-content: flex-start;
	font-size: $starting-title-height;
	line-height: $starting-title-height;
	top: -875vh;
	@extend .transition;
}

.final-title {
	margin-bottom: $final-title-margin;
	width: $final-title-width;
	height: $final-title-height;
	font-size: $final-font-size;
	line-height: $final-title-height;
	offset-position: 0 0;
	top: 20vh;
}

#lastName.final  {
	@extend .final-title;
}

#firstName.final {
	@extend .final-title;
}

#firstName {
	@extend .starting-title;
	width: $starting-first-name-width;
	align-items: flex-start;
}

#lastName {
	@extend .starting-title;
	width: $starting-last-name-width;
	justify-items: flex-end;
	left: $comma-offset;
}

// Line styling ----------------------------------------
#largeLine.final {
	top: 24.5vh;
	@extend .delayed-transition;
}

#largeLine {
	@extend .starting-title;
	height: $solid-line-height;
	width: $solid-line-width;
	border: $line-border;
	border-radius: 5px;
	left: 0;
	top: -1000vh;
}

.small-line {
	position: relative;
	height: $solid-line-height;
	width: 17vh;
	border: $line-border;
	border-radius: 5px;
	top: 2vh;
}

#leftLine {
	right: 400vh;
	transition: none;
}
#rightLine {
	left: 400vh;
	transition: none;
}
#leftLine.final {
	right: -1vh;
	@extend .delayed-transition;
}
#rightLine.final {
	left: 0;
	@extend .delayed-transition;
}

// Letter level control  -------------------------------
.letter {
	position: relative;
	margin: 0px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 25%;
	transition: padding $duration, margin $duration;
}

#jamesJ {
	@extend .letter;
	padding-right: $small-offset;
}
#jamesA {
	@extend .letter;
	padding-right: $medium-offset;
	transition: $half-duration-transition;
}
#jamesM {
	@extend .letter;
}
#jamesE {
	@extend .letter;
	padding-left: $medium-offset;
	transition: $half-duration-transition;
}
#jamesS {
	@extend .letter;
	padding-right: $small-offset;
}

#sterlingS {
	@extend .letter;
	padding-right: $medium-offset;
}
#sterlingT {
	@extend .letter;
}
#sterlingE {
	@extend .letter;
	margin-top: $negative-medium-offset;
}
#sterlingR {
	@extend .letter;
	padding-right: $small-offset;
}
#sterlingL {
	@extend .letter;
}
#sterlingI {
	@extend .letter;
	transition: $half-duration-transition;
}
#sterlingN {
	@extend .letter;
	margin-top: $negative-medium-offset;
}
#sterlingG {
	@extend .letter;
	padding-left: $large-offset;
}

#sterlingComma {
	@extend .letter;
}

.final-letter {
	margin: 0;
	padding: 0;
}

#jamesJ.final, #jamesA.final, #jamesM.final, #jamesE.final, #jamesS.final, #sterlingT.final, #sterlingE.final, #sterlingR.final, #sterlingL.final, #sterlingI.final, #sterlingN.final,  #sterlingComma.final {
	@extend .final-letter;
}

#sterlingS.final, #sterlingG.final {
	padding: 0;
	margin: 0;
	font-size: $final-large-font-size;
	line-height: 18vh;
	display: table-cell;
	vertical-align: top;
}