.intro-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "BenguiatProITC-BoldCondensed";
	
	color: black;
	-webkit-text-fill-color: none; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: red;
}

/* Add the iconic top and middle lines to futher accent the stranger appeal */

/* height: 6rem;*/
/*  TODO: Letters should also slide in from the top and bottom while zooming out and coming together*/
.first-name {
	width: fit-content;
	/* height: 14rem; */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-items: center;
}

/* height: 7rem; */
.last-name {
	width: fix-content;
	/* height: 14rem; */
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	justify-items: center;
}

/* font-size: 8rem; */
/* TODO: Find a way to include the transition attributes without duplicating them*/
.big-letter {
	margin: 0;
	width: fit-content;
	height: fit-content;
	font-size: 240rem;
	letter-spacing: 100rem;

	-webkit-transition: all 26.5s ease;  
	-moz-transition: all 26.5s ease;  
	-o-transition: all 26.5s ease;  
	-ms-transition: all 26.5s ease;  
	transition: all 26.5s ease;
}

/* font-size: 7rem; */
.regular-letters {
	margin: 0;
	padding: .25rem 0;
	font-size: 210rem;
	letter-spacing: 100rem;

	-webkit-transition: all 26.5s ease;  
	-moz-transition: all 26.5s ease;  
	-o-transition: all 26.5s ease;  
	-ms-transition: all 26.5s ease;  
	transition: all 26.5s ease;
}

/* p.bit-letter p.regular-letters {
	-webkit-transition: all 26.5s ease;  
	-moz-transition: all 26.5s ease;  
	-o-transition: all 26.5s ease;  
	-ms-transition: all 26.5s ease;  
	transition: all 26.5s ease;
} */

.transform-active {
	font-size: 7rem;
	letter-spacing: 0rem;
	/* height: 7rem; */

	/* height: 6rem; */
}