/* The ration for width to heigh is width = 150 screen width, height = calculated width / 1.7777777777 */
$starting-title-width: 500vw;
$starting-title-height: 100vw;
$final-title-width: 50vw;
$final-title-height: 10vw;
$transition-properties: all 26.5s ease;

.intro-container {
	// width: 100vw;
	// height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "BenguiatProITC-BoldCondensed";
	
	color: black;
	-webkit-text-fill-color: none; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: red;
}

.starting-title {
	margin: 1rem;
	background-color: green;
	width: $starting-title-width;
	height: $starting-title-height;

	-webkit-transition: $transition-properties;
	-moz-transition: $transition-properties;
	-o-transition: $transition-properties;
	-ms-transition: $transition-properties;
	transition: $transition-properties;
}

.final-title {
	background-color: red;
	width: $final-title-width;
	height: $final-title-height;
}

.large-underline {
	@extend .starting-title;
}

.first-name {
	@extend .starting-title;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-items: center;
}

/* height: 7rem; */
.last-name {
	@extend .starting-title;
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	justify-items: center;
}

.small-underlines {
	@extend .starting-title;
}

/* font-size: 8rem; */
/* TODO: Find a way to include the transition attributes without duplicating them*/
// .big-letter {
// 	margin: 0;
// 	width: fit-content;
// 	height: fit-content;
// 	font-size: 240rem;
// 	letter-spacing: 100rem;

// 	-webkit-transition: all 26.5s ease;  
// 	-moz-transition: all 26.5s ease;  
// 	-o-transition: all 26.5s ease;  
// 	-ms-transition: all 26.5s ease;  
// 	transition: all 26.5s ease;
// }

// /* font-size: 7rem; */
// .regular-letters {
// 	margin: 0;
// 	padding: .25rem 0;
// 	font-size: 210rem;
// 	letter-spacing: 100rem;

// 	-webkit-transition: all 26.5s ease;  
// 	-moz-transition: all 26.5s ease;  
// 	-o-transition: all 26.5s ease;  
// 	-ms-transition: all 26.5s ease;  
// 	transition: all 26.5s ease;
// }

/* p.bit-letter p.regular-letters {
	-webkit-transition: all 26.5s ease;  
	-moz-transition: all 26.5s ease;  
	-o-transition: all 26.5s ease;  
	-ms-transition: all 26.5s ease;  
	transition: all 26.5s ease;
} */

// .transform-active {
// 	font-size: 7rem;
// 	letter-spacing: 0rem;
// 	/* height: 7rem; */

// 	/* height: 6rem; */
// }